.antd-sider-menu-override {
  .ant-menu-item-selected {
    border-left: 6px solid #d8881f;
  }

  .ant-menu-item:first-child {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
  }

  .ant-menu-item:last-child {
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
  }
}
